:root {
  --tw-bag1: black;
  --bg1: #040405;
  --bg3: #14151b;
  --bg4: #20212b;
  --bg2: #0c0d10;
  --tw-color1: white;
  --text-light: #f1f1f1;
  --text-normal: #bfc4c9;
  --text-muted: #95989d;
  --text-link: #5a88ce;
}